@model WebApplication1.Models.Employee

@{
    ViewData["Title"] = "View";
}
<h2>index</h2>
 

    <dt>
        @Html.DisplayNameFor(model => model.id)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.id)
    </dd>

 